
#audio audio {
    width: 80%; /* Ajustar el tamaño del audio */
    margin-bottom: 20px; /* Espacio debajo del audio */
    display: block; /* Alinear el audio en bloque */
    margin: 0 auto; /* Centrar el audio */
}

#audio p {
    margin-top: 10px; /* Espacio entre el audio y el texto */
    text-align: center; /* Centrar el texto */
    
}

.container {
    display: flex;
    margin: 4px; /* marge a la pagina */
    background-color: rgb(255, 255, 255);
    padding: 20px; /* Espacio adicional alrededor del contenedor */
    border-radius: 25px; /* Ajustar el radio del borde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.441);
    
}

#videos-relacionados h2  {
    text-align: center; /* Centrar el texto */
}
#videos-relacionados p  {
    text-align: center; /* Centrar el texto */
}

.video-container {
    position: relative; /* Necesario para que el iframe ocupe el contenedor */
    width: 100%; /* Ocupa el 100% del ancho disponible */
    max-width: 560px; /* Máximo ancho del video */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    aspect-ratio: 16 / 9; /* Mantiene la proporción 16:9 */
    }

.video-container iframe {
    position: absolute; /* Posiciona el iframe dentro del contenedor */
    top: 0;
    left: 0;
    width: 100%; /* El iframe ocupa todo el ancho del contenedor */
    height: 100%; /* El iframe ocupa toda la altura del contenedor */
    border-radius: 10px; /* Opcional: bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: sombra para mejorar el diseño */
}