#audio {
    display: flex; /* Flexbox para centrar contenido */
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: center; /* Centrar verticalmente el contenido */
    align-items: center; /* Centrar horizontalmente el contenido */
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 1200px; /* Limita el ancho en pantallas grandes */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Espaciado interno */
    box-sizing: border-box; /* Incluye padding en el ancho */
    background-color: transparent; /* Si necesitas un fondo, cámbialo */
}
/* Reproductor de audio */
#audio audio {
    width: 80%; /* Ancho base del reproductor */
    max-width: 800px; /* Máximo para pantallas grandes */
    margin: 10px 0; /* Espaciado superior e inferior */
}

/* Texto dentro del contenedor */
#audio p {
    text-align: center; /* Centra el texto */
    margin-top: 10px;
}

.container {
    display: flex;
    margin: 4px; /* marge a la pagina */
    background-color: rgb(255, 255, 255);
    padding: 20px; /* Espacio adicional alrededor del contenedor */
    border-radius: 25px; /* Ajustar el radio del borde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.441);

    
}

#videos-relacionados h2  {
    text-align: center; /* Centrar el texto */
}
#videos-relacionados p  {
    text-align: center; /* Centrar el texto */
}



