/* estilos_eventos.css */
table {
    border-collapse: collapse; /* Quitar espacio entre bordes */
    width: 100%;
    
}

table th, table td {
    border: 1px solid #ddd; /* Bordes de la tabla */
    padding: 10px; /* Espaciado interno */
    text-align: left; /* Alinear a la izquierda */
}

table th {
    background-color: #f4f4f4; /* Fondo del encabezado */
    font-weight: bold;
    color: #333;
}

table tr:nth-child(even) {
    background-color: #f9f9f9; /* Filas alternadas */
}

#eventos h2 {
    color: #004d99; /* Cambia el color del texto */
    font-size: 2.5em; /* Tamaño del encabezado */
    text-align: center; /* Centrar el texto */
    margin-bottom: 20px; /* Espaciado inferior */
}
