/* Estilo para la tabla */
#eventos table {
    width: 100%; /* Ocupa todo el ancho disponible */
    border-collapse: collapse; /* Elimina espacios entre celdas */
    margin-top: 20px;
    background-color: #f9f9f9; /* Fondo claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

#eventos th, #eventos td {
    text-align: left; /* Alineación de texto a la izquierda */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ddd; /* Bordes claros */
}

#eventos th {
    background-color: #004d99; /* Fondo azul oscuro */
    color: white; /* Texto blanco */
    font-weight: bold;
    
}

#eventos tr:nth-child(even) {
    background-color: #f1f1f1; /* Color alternado para filas pares */
}

#eventos tr:hover {
    background-color: #23bef253; /* Fondo más claro al pasar el cursor */
}
