/* Estilos global */
main {
    background-color: #ffffff; /* Fondo claro */
   
}

body {
    font-family:Helvetica, sans-serif; /* Fuente base para todos los textos */
    color: #2c2c2c; /* Color */
    }
    
    h2 {
    font-family: 'Georgia', serif;   
    font-size: 2em; /* Tamaño uniforme para todos los encabezados h2 */
    color: #0727f7; /* Color */
    text-align: center; /* Alineación  */
    margin-bottom: 15px; /* Espaciado inferior */
    } 

    h3 {
    font-size: 1.5em; /* Tamaño uniforme para todos los encabezados h3 */
    color: #1d7550; /* Color */
    text-align: center; /* Alineación  */
    margin-bottom: 15px; /* Espaciado inferior */
    }

    p {
    font-size: 1em; /* Tamaño de texto estándar */
    text-align: justify; /* Justifica el texto para mejorar la legibilidad */
    margin-bottom: 10px; /* Espaciado inferior entre párrafos */
    }


    /* Estilo para el logo de la empresa */
.logo-empresa {
    width: 400px; /* Ajusta el ancho según el tamaño deseado */
    max-width: 100%; /* Evita que se salga del contenedor en pantallas pequeñas */
    display: block;
    margin: 20px auto; /* Centra el logo y agrega margen superior e inferior */
}
