main {
    background-color: #67f2af1e; /* Fondo claro */
    padding: 20px; /* Espaciado interno */
    margin: 10px auto; /* Márgenes automáticos para centrar */
    border-radius: 25px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418); /* Sombra ligera */
    max-width: 1200px; /* Ancho máximo */
}

body {
    font-family:Helvetica, sans-serif; /* Fuente base para todos los textos */
    color: #2c2c2c; /* Color */
    }
    
    h2 {
    font-family: 'Georgia', serif;   
    font-size: 2em; /* Tamaño uniforme para todos los encabezados h2 */
    color: #0727f7; /* Color */
    text-align: center; /* Alineación  */
    margin-bottom: 15px; /* Espaciado inferior */
    } 

    h3 {
    font-size: 1.5em; /* Tamaño uniforme para todos los encabezados h3 */
    color: #1d7550; /* Color */
    text-align: center; /* Alineación  */
    margin-bottom: 15px; /* Espaciado inferior */
    }

    p {
    font-size: 1em; /* Tamaño de texto estándar */
    text-align: justify; /* Justifica el texto para mejorar la legibilidad */
    margin-bottom: 10px; /* Espaciado inferior entre párrafos */
    }


     /* incrustacion  */
    #quienes-somos h2 {
    font-family: 'Georgia', serif; /* Fuente exclusiva para esta sección */
    color: #004d99; /* Color azul oscuro */
    font-size: 2.5em; /* Tamaño mayor para destacar el encabezado */
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espaciado inferior */
    }

    #quienes-somos p {
    font-family: 'Georgia', serif;/* Fuente exclusiva para esta sección */
    font-size: 1.2em; /* Texto más grande para esta sección */
    line-height: 1.8; /* Espaciado entre líneas más amplio */
    color: #161515; /* Color de texto más oscuro */
    padding: 0 80px; /* Margen interno a los lados */
    }

    #quienes-somos .imagenes img {
    display: block; /* Imagen en bloque */
    margin: 20px auto; /* Centra la imagen */
    border-radius: 35px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
    }