/* Estilos global */
main {
    background-color: #ffffff; /* Fondo claro */
    border-radius: 25px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418); /* Sombra ligera */
}

body {
    font-family:Helvetica, sans-serif; /* Fuente base para todos los textos */
    color: #2c2c2c; /* Color */
    }
    
    h2 {
    font-family: 'Georgia', serif;   
    font-size: 2em; /* Tamaño uniforme para todos los encabezados h2 */
    color: #0727f7; /* Color */
    text-align: center; /* Alineación  */
    margin-bottom: 15px; /* Espaciado inferior */
    } 

    h3 {
    font-size: 1.5em; /* Tamaño uniforme para todos los encabezados h3 */
    color: #1d7550; /* Color */
    text-align: center; /* Alineación  */
    margin-bottom: 15px; /* Espaciado inferior */
    }

    p {
    font-size: 1em; /* Tamaño de texto estándar */
    text-align: justify; /* Justifica el texto para mejorar la legibilidad */
    margin-bottom: 10px; /* Espaciado inferior entre párrafos */
    }


     /* incrustacion  */
    #quienes-somos h2 {
    font-family: 'Georgia', serif; /* Fuente exclusiva para esta sección */
    color: #004d99; /* Color azul oscuro */
    font-size: 2.5em; /* Tamaño mayor para destacar el encabezado */
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espaciado inferior */
    }

    #quienes-somos p {
    font-family: 'Georgia', serif;/* Fuente exclusiva para esta sección */
    font-size: 1.2em; /* Texto más grande para esta sección */
    line-height: 1.8; /* Espaciado entre líneas más amplio */
    color: #161515; /* Color de texto más oscuro */ 
    
}

    #quienes-somos .imagenes img {
        width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
        max-width: 750px; /* Limita el tamaño máximo a 750px */
        height: auto; /* Mantiene la proporción de la imagen */
        display: block; /* Evita espacios adicionales en línea */
        margin: 0 auto; /* Centra la imagen horizontalmente */
        border-radius: 25px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.672); /* Sombra para darle profundidad */

    }
    #quienes-somos {
        padding: 20px; /* Añade espacio alrededor del contenido */
        margin: 0 auto; /* Centra el contenido horizontalmente */
        max-width: 1200px; /* Limita el ancho máximo para grandes pantallas */
    }

    footer p {
        text-align: center; /* Cambia la alineación a centrado */
        margin-bottom: 5px; /* Ajusta el espaciado inferior si es necesario */
    }