@media (max-width: 500px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: left; 
        padding: 10px 20px;
        background-color: #0288d1;
        position: relative; /* CLAVE para que los hijos usen este contenedor */
        z-index: 1000;
    
    }

    .nav-links {
        list-style: none;
        display: none; /* Oculto inicialmente */
        flex-direction: column;
        gap: 10px;
        position: absolute; /* Relativo a .navbar */
        top: 120%; /* Justo debajo de .navbar */
        left: 0; /* Alineado al borde izquierdo */
        right: auto; /* Aseguramos que no herede valores de `right` */
        background-color:#0288d1;
        padding: 15px;
        border-bottom-left-radius: 25px; /* Redondea solo la esquina inferior izquierda */
        border-bottom-right-radius: 25px; /* Redondea solo la esquina inferior derecha */
        z-index: 1000;
    }

    /* Mostrar menú activo */
    .nav-links.active {
        display: flex;
    }

    /* Estilos de los enlaces */
    .nav-links li a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        padding: 8px 12px;
        transition: color 0.3s ease;
        text-align: left;
    }

    nav ul li a:hover {
        color: #060606;
    }

    /* Botón tipo hamburguesa -------------------------------------*/
    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 4px;
        
    }

    .menu-toggle span {
        width: 25px;
        height: 3px;
        background-color: white;
        transition: all 0.3s ease;
    }

    /* Animación del botón activo rotaciones */
    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translateY(6px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translateY(-6px);
    }


    nav ul li a:hover {
        color: #060606; 
    }


}



