<!--formulario acceso-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso a la Página</title>
    <link rel="stylesheet" href="../static/css/stylenav.css">
    <link rel="stylesheet" href="../static/css/footer.css" type = "text/css">
    <link rel="stylesheet" href="../static/css/formulario_acceso.css" type = "text/css">
    
</head>
<body>
    <a href="index.html">
        <img src="../images/logo.png" alt="Logo de la empresa" class="logo-empresa">
    </a>
    
    <!-- formulario de acceso -->
    <div class="container">
        <form method="post">
            <h2>Acceso</h2>
            
            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" name="username" placeholder="Ingresa tu usuario" required>
            
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required>
            
            <input type="submit" value="Iniciar Sesión">
            
            <!-- Botón para volver al inicio -->
            <button type="button" class="volver-inicio" onclick="window.location.href='index.html';">
                Volver al inicio
            </button>
        </form>
    </div>
    
    <footer class="footer-content">
        <a href="index.html">
            <img src="../images/iso-02-02.png" alt="Logo de la empresa" class="logo-empresa-iso">
        </a>
        <p>&copy; 2024 Organización Ambiental. Todos los derechos reservados.</p>
        <p>Contacto: <a href="mailto:info@ecofuturo.org">info@ecofuturo.org</a></p>
    </footer>
</body>
</html>

